body {
  background-color: #f9e9fc;
  bottom: 1;
}

p {
  font-family: 'Chilanka', cursive;
  font-size: 1.2rem;
}

h2 {
  color: #fc2e7b;
  font-family: 'Great Vibes', cursive;
  /* font-size: 3px; */
  text-shadow: 2px 2px 4px #000000;
}
/* ---------------------------------------------NAVBAR------------------------------------------------------------- */

#navigation {
  background-color: #160119;
  border-bottom: 3px solid #fc2e7b;
  /* min-height: 56px; */
}

/* #submit {
  background-color: #160119;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  justify-content: left;
} */

#navigation .navbar-brand {
  color: #ffffff;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  padding: .9rem 0;
}

#navigation .nav-link {
  color: rgb(220, 243, 230);
  font-family: 'Great Vibes', cursive;
  font-size: 1.3rem;
  letter-spacing: 2px;
  /* outline: none; */
  /* background-color: transparent; */
}

#navigation:hover .nav-link:hover {
  color: #fc2e7b;
}

/* -----------------------------------------------LANDING PAGE-------------------------------------------------------- */
/* URL for the code I used for the video header */
/* https://startbootstrap.com/snippets/video-header/ */

header {
  position: relative;
  /* background-color: #f9e9fc; */
  height: 75vh;
  min-height: 45rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color:#f9e9fc; */
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('assets\images\spin_cycle (1)_Moment.jpg') no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

#welcome,
#abt-msg {
  font-family: 'Chilanka', cursive;
}

#name-color {
  color: #fc2e7b;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px 4px #000000;
}

#mark-is-a-fuckface {
  border: 1px solid white;
  color: white;
  background-color: #fc2e7b;
  font-family: 'Chilanka', cursive;
  font-size: 1rem;
  /* letter-spacing: 4px; */
  text-shadow: 2px 2px 4px #000000;
}

/* --------------------------------ABOUT SECTION----------------------------------------------- */

#port-pic {
  box-shadow: 10px 10px 5px grey;
}

#footer {
  background-color: #fc2e7b;
  text-align: center;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
}

.text-uppercase,
.lang {
  color: #fc2e7b;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px 4px #000000;
}

#menu {
  color: #ffffff;
}

h5,
.fa-file-pdf,
.fa-envelope,
.fa-mobile-alt,
.small {
  color: #160119;
  /* font-family: 'Rubik', sans-serif; */
}

h4 {
  color: #160119;
  font-family: 'Rubik', sans-serif;
}

.icons,
.fa-linkedin,
.fa-github {
  color: #fc2e7b;
  /* font-family: 'Great Vibes', cursive; */
}

label {
  color: #160119;
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {

  div#message.align-items-center.text-center {
    /* font-size: .5rem;
  line-height: .5rem; */
  }
}